body {
  margin: 0;
  background-color:#E1D7D4;
  font-family: 'Roboto Mono', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em;
}

#logo {
  color: #E34E45;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 2.2em;
  margin: 0;
}

p:nth-child(2) {
  font-size: 1.1em;
  margin: 0;
}

section {
  background-color: #ffffff;
  height: auto;
  margin: 1em;
}
#content {
  width:200px;
  padding: 2em;
  border-radius: 10px;
}

#square {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  border-radius: 100%;
  width: 3em;
  height: 3em;
  margin: .5em;
  background-color:#ccc;
}
.circle:hover {
  background-color:#eee;
}
.available {
  cursor: pointer;
}
.reserved {
  background-color: #adaaaa;
  color:#ffffff;
  /* cursor: not-allowed; */
  /* pointer-events: none; */
}

#form {
  display: none;
  width:240px;
  position: fixed; 
  z-index: 10;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
  margin: 50% auto; 
  border-radius: 10px;
  box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
  font-size: .8em;
}

.close {
  margin-left: auto;
}
#form p {
  margin-top: 0;
}

#newRes {
  color: #E34E45;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  margin: 0;
}

input {
  width:100%;
  padding: 1em 0 1em 0;
  margin-bottom: 1.5em;
  border:none;
  border-bottom: 1px solid #ccc;
  font-size: 1em;
  text-align: left;
  outline: none;
}
button {
  width:100%;
  color: #ffffff;
  background-color: #008000;
  padding: .9em;
  /* margin: 1em; */
  font-size: .9em;
  box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);

}

.tooltip {
  position: absolute;
  z-index: 999999999;
  background-color: #aaa;
  color: #000000;
  font-size: .6em;
  border: solid black 1px;
  border-radius: 5px;
}

@media only screen and (min-width: 428px) {
  #logo {
  font-size: 3em;
  }
  #content {
    width:300px;
  }
  #form {
    width:340px;
    font-size: .8em;
    margin: 35% auto;
  }
  p:nth-child(2) {
    font-size: 1.4em;
  }
  .circle {
    width:4em;
    height:4em;
  }
  .tooltip {
    font-size: .8em;
  }
}

@media only screen and (min-width: 768px) {
  #logo {
    font-size: 4em;
  }
  p:nth-child(2) {
    font-size: 1.9em;
  }
  #content {
    width: 460px;
  }
  .circle {
    width:6em;
    height:6em;
    margin: 1em;
  }
  #form {
    width: 500px;
    margin: 32% auto; 
    font-size: 1em;
  }
  .tooltip {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1224px) {
  #logo {
    font-size: 4em;
  }
  p:nth-child(2) {
    font-size: 1.9em;
  }
  .circle {
    width:7em;
    height:7em;
    margin: 1em;
  }
  #form {
    margin: 15% auto;
    font-size: 1.3em; 
  }
}